@tailwind base;
@tailwind components;
@tailwind utilities;

/* responsive, primer parametro */
html {
    font-size: 16px;
}


/* fondo agregado al body */
body {
    background-color: #EFEBFF;
    margin: 0;
    height: 100vh;
}
.star-label {
    cursor: pointer;
  }
  
  .star-checkbox {
    appearance: none;
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
  
  .star {
    color: #ddd;
    transition: color 0.2s;
  }
  
  .star.filled {
    color: yellow;
  }
  
  .bg-light-lth {
    background-color: #f5f5f5;
  }
  
  .bg-light-btn {
    background-color: #3d7eff;
  }
  
  .text-white {
    color: #fff;
  }
  
  .bg-blue-500 {
    background-color: #3b82f6;
  }
  
  .rounded-sm {
    border-radius: 0.125rem;
  }
  
  .h-8 {
    height: 2rem;
  }
  
  .w-24 {
    width: 6rem;
  }
  
  .p-1 {
    padding: 0.25rem;
  }
  
  .focus\:outline-none:focus {
    outline: none;
  }
  
  .bg-green-500 {
    background-color: #34d399;
  }
  
  .cursor-not-allowed {
    cursor: not-allowed;
  }
  
  .text-green-500 {
    color: #10b981;
  }
  
  .mt-2 {
    margin-top: 0.5rem;
  }

#formulario {
    height: 100vh;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
  }
  

/* responsive, reglas */

@media (min-width: 2500px) {
    html {
        font-size: 25px;
    }
}

@media (min-width: 3500px) {
    html {
        font-size: 32px;
    }
}